@page
@model Musica.FavouritesModel
@{
    ViewData["Title"] = "Favourites";
}

<script>
    function showArtists() {
        var artists = document.getElementById("showArtists");
        var songs = document.getElementById("showSongs");

        var favA = document.getElementById("favArtists");
        var favS = document.getElementById("favSongs");

        favA.style.display = "block";
        favS.style.display = "none";

        artists.classList.add("shadow");
        songs.classList.remove("shadow");

    }

    function showSongs() {
        var artists = document.getElementById("showArtists");
        var songs = document.getElementById("showSongs");

        var favA = document.getElementById("favArtists");
        var favS = document.getElementById("favSongs");

        favA.style.display = "none";
        favS.style.display = "block";

        artists.classList.remove("shadow");
        songs.classList.add("shadow");
    }

    function setFavouriteArtist(pId, uId) {
        var el = document.getElementById(pId + 'favourite');

        if (el.classList.contains("bi-star-fill")) {

            fetch('/publish/Favourites?handler=DeleteFavouriteArtist&userId=' + uId + '&artistId=' + pId)
                .then(r => {

                    el.classList.add("bi-star");
                    el.classList.remove("bi-star-fill");

                });

        } else {

            fetch('/publish/Favourites?handler=SetFavouriteArtist&userId=' + uId + '&artistId=' + pId)
                .then(r => {

                    el.classList.add("bi-star-fill");
                    el.classList.remove("bi-star");

                });
        }
    }

    function setFavouriteSong(pId, uId) {
        var el = document.getElementById(pId + 'favourite');

        if (el.classList.contains("bi-star-fill")) {

            fetch('/publish/Favourites?handler=DeleteFavouriteSong&userId=' + uId + '&songId=' + pId)
                .then(r => {

                    el.classList.add("bi-star");
                    el.classList.remove("bi-star-fill");

                });

        } else {

            fetch('/publish/Favourites?handler=SetFavouriteSong&userId=' + uId + '&songId=' + pId)
                .then(r => {

                    el.classList.add("bi-star-fill");
                    el.classList.remove("bi-star");

                });
        }

    }
</script>
<div class="text-center">
    <b style="color:#ffffff;font-size:2.5em;">@ViewData["Title"]</b>
</div>
@if (Model.GetUser() == null || !Model.GetUser().IsVerified)
{
    <div class="text-center mt-5">
        <p>You are not logged in! <a asp-page="/Users/Register" class="text-black-50">Register</a> or <a asp-page="/Users/Login" class="text-black-50">Log in</a></p>
    </div>
}
else
{
    <div class="container">
        <div class="row">
            <div class="col m-3 p-2 rounded border shadow text-center" id="showArtists">
                <a href="javascript:showArtists()" class="nav-link" style="color:black">Artists</a>
            </div>
            <div class="col m-3 p-2 rounded border text-center" id="showSongs">
                <a href="javascript:showSongs()" class="nav-link" style="color:black">Songs</a>
            </div>
        </div>
    </div>
    <div id="favArtists" style="display:block;" class="m-3">
        @foreach (var a in Model.FavArtists)
        {
            <div class="container">
                <div class="row">
                    <div class="col rounded border shadow m-2">
                        <div class="row">
                            <div class="col-4 mt-2 mb-2">
                                <img src="@a.image_url" class="rounded float-left" alt="@a.name img" style="max-height:100px;max-width:100px">
                            </div>
                            <div class="col mt-2">
                                <a href="/ArtistDetail?id=@a.id" style="color:black"><b><i>@a.name</i></b></a>
                            </div>
                            <div class="col text-right mt-2 mr-3">
                                <span class="float-right">
                                    <a class="text-dark" href="javascript:setFavouriteArtist('@a.id', '@Model.GetUser().Id')">
                                        <i id="@(a.id + "favourite")" class="bi bi-star-fill" style="font-size: 2rem; "></i>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <div id="favSongs" style="display:none;">
        @foreach (var s in Model.FavSongs)
        {
            <div class="container">
                <div class="row">
                    <div class="col rounded border shadow m-2">
                        <div class="row">
                            <div class="col-4 mt-2 mb-2">
                                <img src="@s.header_image_url" class="rounded float-left" alt="@s.full_title img" style="max-height:100px;max-width:100px">
                            </div>
                            <div class="col mt-2">
                                <a href="/SongDetail?id=@s.id" style="color:black"><b><i>@s.title</i></b></a>
                                <br />
                                <i>@s.artist_names</i>
                            </div>
                            <div class="col text-right mt-2 mr-3">
                                <span class="float-right">
                                    <a class="text-dark" href="javascript: setFavouriteSong('@s.id', '@Model.GetUser().Id')">
                                        <i id="@(s.id + "favourite")" class="bi bi-star-fill" style="font-size: 2rem; "></i>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}