@page
@model Musica.Pages.SongDetailModel
@{
    ViewData["Title"] = "Song detail";
}
<div class="text-center">
    <b style="color:#ffffff;font-size:2.5em;">@ViewData["Title"]</b>
</div>
<div class="m-5">
    <div class="row">
        <div class="col text-center">
            <b style="color:#000000;font-size:1.9em;">@Model.Song.full_title</b>
        </div>
    </div>

    @if (!string.IsNullOrEmpty(Model.Song.recording_location))
    {
        <div class="row m-3">
            <div class="col text-center">
                <p><b>Recording location:</b> @Model.Song.recording_location</p>
            </div>
        </div>
    }
    @if (!string.IsNullOrEmpty(Model.Song.release_date_for_display))
    {
        <div class="row m-3">
            <div class="col text-center">
                <p><b>Release date:</b> @Model.Song.release_date_for_display</p>
            </div>
        </div>
    }

</div>
@if (Model.Song.Lyrics == null)
{
    <div class="row">
        <div class="col text-center">
            <b>Lyrics</b><br />
            <p>Lyrics unavailable by Api, you can see <a href="@Model.Song.url" target="_blank">@Model.Song.title on Genius</a></p>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col text-center">
            @Html.Raw(Model.Song.Lyrics)
        </div>
    </div>
}

    </div>